.component {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  list-style: none;
  padding-top: 100px;
}

.component li {
  flex-basis: calc((100% - 48px) / 3);
}
